@import "detail.css";

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: ;
}

ul {
    list-style-type: none;
    padding-inline-start: 2px;

}

#orderButton {
    margin: 1rem 0 2rem 2rem;
    padding: 0.5rem;
    background-color: rgb(227, 199, 72);
    color: rgb(59, 59, 53);
    font-size: 1rem;
}